<div class="_body">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="fS.form.valid && onSubmitSignup()" #fS="ngForm" novalidate>
        <label for="chk" class="check-signup" aria-hidden="true">Sign up</label>

        <!-- username -->
        <input type="text" placeholder="Username" name="username" [(ngModel)]="form_signup.username" required
          minlength="3" maxlength="20" #form_signup.username="ngModel" />
        <div class="alert-danger" *ngIf="form_signup.username.errors && fS.submitted">
          <div *ngIf="form_signup.username.errors['required']">Username is required</div>
          <div *ngIf="form_signup.username.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="form_signup.username.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>

        <!-- email -->
        <input type="email" placeholder="Email" name="email" [(ngModel)]="form_signup.email" required email
          #email="ngModel" />
        <div class="alert-danger" *ngIf="email.errors && fS.submitted">
          <div *ngIf="email.errors['required']">Email is required</div>
          <div *ngIf="email.errors['email']">
            Email must be a valid email address
          </div>
        </div>

        <!-- password -->
        <input type="password" placeholder="Password" name="password" [(ngModel)]="form_signup.password" required
          minlength="6" #form_signup.password="ngModel" />
        <div class="alert-danger" *ngIf="form_signup.password.errors && fS.submitted">
          <div *ngIf="form_signup.password.errors['required']">Password is required</div>
          <div *ngIf="form_signup.password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>

        <!-- Full name -->
        <input type="text" placeholder="Full name" name="fullName" [(ngModel)]="form_signup.fullName" required
          minlength="2" maxlength="150" #fullName="ngModel" />
        <div class="alert-danger" *ngIf="fullName.errors && fS.submitted">
          <div *ngIf="fullName.errors['required']">Full name is required</div>
          <div *ngIf="fullName.errors['minlength']">
            Full name must be at least 2 characters
          </div>
          <div *ngIf="fullName.errors['maxlength']">
            Full name must be at most 150 characters
          </div>
        </div>

        <!-- address -->
        <input type="text" placeholder="Address" name="address" [(ngModel)]="form_signup.address" required minlength="2"
          maxlength="200" #address="ngModel" />
        <div class="alert-danger" *ngIf="address.errors && fS.submitted">
          <div *ngIf="address.errors['required']">Address is required</div>
          <div *ngIf="address.errors['minlength']">
            Address must be at least 2 characters
          </div>
          <div *ngIf="address.errors['maxlength']">
            Address must be at most 200 characters
          </div>
        </div>

        <!-- phone -->
        <input type="text" placeholder="Phone" name="phone" [(ngModel)]="form_signup.phone" required minlength="2"
          maxlength="15" #phone="ngModel" />
        <div class="alert-danger" *ngIf="phone.errors && fS.submitted">
          <div *ngIf="phone.errors['required']">Phone is required</div>
          <div *ngIf="phone.errors['minlength']">
            Phone must be at least 2 characters
          </div>
          <div *ngIf="phone.errors['maxlength']">
            Phone must be at most 15 characters
          </div>
        </div>

        <button>Sign up</button>
        <div class="alert alert-warning" *ngIf="fS.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessageSignup }}
        </div>
      </form>
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>


    <!-- ************************ below login form **************************************** -->
    <div class="login">
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="fL.form.valid && onSubmitLogin()" #fL="ngForm" novalidate>
        <label for="chk" aria-hidden="true">Login</label>

        <input type="text" placeholder="Username" name="username" [(ngModel)]="form_login.username" required
          #form_login.username="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="form_login.username.errors && fL.submitted">
          Username is required!
        </div>

        <input type="password" placeholder="Password" name="password" [(ngModel)]="form_login.password" required
          minlength="6" #password="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="form_login.password.errors && fL.submitted">
          <div *ngIf="form_login.password.errors['required']">Password is required</div>
          <div *ngIf="form_login.password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>


        <button>Login</button>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="fL.submitted && isLoginFailed">
            Login failed: {{ errorMessageLogin }}
          </div>
        </div>
      </form>
    </div>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in as {{ roles }}.
    </div>
  </div>
</div>
