
.card-card-container {
  margin: auto;
  width: 500px;
  height: 550px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

label {
  color: aliceblue;
}

.form-group {
  width: 400px;
  margin-left: 50px;
}

h1 {
  margin-left: 40%;
  margin-top: 10px;
  color: aliceblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-class{
  margin-top: 30px;
}

#button-login, #button-register {
  margin-top: 40px;
  background-color: black;
  border-style: none;
}
