<div class="infocardContainer">

  <div id="main">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Dog_coat_variation.png">
  </div>

  <div id="textbois">
    <h2>{{ currentUser.fullName }}</h2>
    <strong>{{ currentUser.address }}</strong>
    <strong>{{ currentUser.phone }}</strong>
    <a href="mailto:${currentUser.email}">{{ currentUser.email }}</a>

    <div id="hotlinks" *ngIf="showPetListAndAdd">
      <button routerLink="/pets">Pet List</button>
      <button routerLink="/add">Add</button>
    </div>


  </div>

</div>
