<div class="col-md-12">
  <div class="card-card-container">
    <img src="./assets/slider1.jpg" class="img-first">
    <p>The Animal Clinic is a proudly independent veterinary surgery owned and run by caring experienced vets. Our vets
      and nurses are all pet owners and animal lovers, so they understand how stressful and upsetting it can be when
      your pet is unwell. Each member of our team has been selected not only for their committed approach and
      exceptional skills, but for their compassion.

    </p>
  </div>

  <div class="card-card-container">
    <p>
      We have worked hard and with passion to build a reputation for high
      quality clinical care, kindness for our patients, and friendly professional customer service while offering a full
      range of services, including:

      <li>Preventative care</li>
      <li>Routine surgery</li>
      <li>Advanced scanning</li>
      <li>Emergency surgery</li>
    </p>
    <img src="./assets/slider2.jpg" class="img-first">
  </div>

  <div class="card-card-container">
    <img src="./assets/slider3.jpg" class="img-first">
    <p>
      <strong>Our permanent vets are:</strong>
      <li>Margit: Usually consults on Mondays, Tuesdays, Wednesdays and Thursdays</li>
      <li>Nicki: Usually consults on Mondays, Tuesdays, Wednesdays and Fridays</li>
      <li>Mary: Usually consults on Fridays</li>
    </p>
  </div>
  <hr style="background-color: white;">
  <div class="card-card-container">
    <strong class="contacts">Contacts</strong>
    <a href="https://www.linkedin.com/in/islam-ataballyyev/" target="_blank"> <img src="./assets/linkedin.svg"> </a>
    <a href="https://github.com/AbuHamzaCode" target="_blank"> <img src="./assets/github.svg"> </a>
    <a href="mailto:labeloneside@gmail.com" target="_blank"> <img src="./assets/email.svg"> </a>
    <a href="https://labeloneside.medium.com/" target="_blank"> <img src="./assets/medium.svg"> </a>
    <a href="https://t.me/hamza_95_T" target="_blank"> <img src="./assets/telegram.svg"> </a>
    <a href="https://wa.me/+905454919594" target="_blank"> <img src="./assets/whatsapp.svg"> </a>
    <a href="https://www.codewars.com/users/Aby_Hamza" target="_blank"> <img src="./assets/code-thin.svg"> </a>
    <a href="https://join.skype.com/invite/zddY1qy0lLhu" target="_blank"> <img src="./assets/skype.svg"> </a>
  </div>
</div>
